<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/dataTables.foundation.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/foundation-datepicker.css')}}">
    <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation-datepicker.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/clipboard.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/dataTables.foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.quickconfirm.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-medium " id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <div id="menulogo" class="text-center small-centered columns">
                <a href="{{url_for('index')}}">
                  <!--<i class="fa-cloud fa"></i>-->
                  <img src="{{url_for('static', filename='images/logo.png')}}" width=100 height=100>
                </a>
            </div>
            <h5 class="navbar-sitename">{{ site_title }}</h5>
            <hr>
            <ul class="off-canvas-list navbar">
              {% if not isloggedin() %}
                <li>
                    <i class="fa-sign-in fa"></i>
                    <a href="{{url_for('login')}}"> Log In </a>
                </li>
              {% else %}
                {% if isadmin() %}
                  {# Admin links go here #}
                  <li>
                      <i class="fa-asterisk fa"></i>
                      <a href="{{url_for('admin_dashboard')}}">Admin</a>
                  </li>
                  <li>
                      <i class="fa-object-group fa"></i>
                      <a href="{{url_for('profiles_list')}}">Profiles</a>
                  </li>
                  <li>
                      <i class="fa-unlock-alt fa"></i>
                      <a href="{{url_for('token_list')}}">API Tokens</a>
                  </li>
                {% endif %}
                {# Regular logged in user links go here #}
                <li>
                    <i class="fa-server fa"></i>
                    <a href="{{url_for('server_list')}}">Servers</a>
                </li>
                <li>
                    <i class="fa-key fa"></i>
                    <a href="{{url_for('ssh_key_list')}}">SSH Keys</a>
                </li>
                {% if config.FEEDBACK_EMAIL %}
                <li>
                    <i class="fa-comments fa"></i>
                    <a href="{{url_for('feedback')}}">Feedback</a>
                </li>
                {% endif %}
                <li>
                    <i class="fa-sign-out fa"></i>
                    <a href="{{url_for('logout')}}"> Log Out </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div id="main" class="off-canvas-content" data-off-canvas-content>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
    {% block js_include %}
    {% endblock %}
    <script>
      {% block script %}
      {% endblock %}
    </script>
  </body>
</html>
