{% extends "layout.html" %}
{% block script %}
$('table.profilelist a.oneclickconfirm').click(function(event) {
   event.preventDefault();
   $.ajax(this.href, {
      dataType: 'json',
      method: 'POST',
      success: function(data) {
         var popup = new Foundation.Reveal($('#confirmationModal'));
         popup.open();
      },
      error: function() {
        var popup = new Foundation.Reveal($('#errorModal'));
        popup.open();
      }
   });

});
{% endblock %}
{% block content %}


<div>
  <div id="confirmationModal" class="reveal-modal reveal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="confirmationModalTitle">Confirmed.</h2>
    <p class="lead">This action has been queued.</p>
    <p>Please give it a minute before changes are reflected in the UI</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <div id="errorModal" class="reveal-modal reveal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="errorModalTitle">An error has occured.</h2>
    <p class="lead">Please refresh your browser and try again.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>



<div class="callout primary">
    <div class="row column">
        <h1 class='text-center'>Profiles</h1>
        <p  class="lead"></p>
    </div>
</div>

    <div class="row">
        <div class="large-8 columns">
          <div class="row columns">
            <a href="{{url_for('profiles_create')}}" class="button">Create New Profile</a>
          </div>

            <div class="row">
              <table role="grid" class="profilelist">
                <thead>
                  <tr>
                    <th width="200">Created</th>
                    <th>Name</th>
                    <th>AMI</th>
                    <th>Control</th>
                  </tr>
                </thead>
                <tbody>
                  {% if profiles %}
                    {% for profile in profiles %}
                      <tr>
                        <td>{{ profile.created_at|datetimefilter }}</td>
                        <td>{{ profile.name }}</td>
                        <td>{{ profile.ami }}</td>
                        <td>
                          <a href="{{url_for('profiles_update', profile_id=profile.id)}}">
                            <i data-tooltip data-disable-hover="false" title='update' class="has-tip fa-pencil-square-o fa"></i>
                          </a>
                          <a href="{{url_for('profiles_remove', profile_id=profile.id)}}" class="oneclickconfirm">
                            <i data-tooltip data-disable-hover="false" title='remove' class="has-tip fa-times fa"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}
